In [57]:
import spacy
import os
import gensim
import pandas as pd

In [58]:
nlp = spacy.load("en_core_web_md")

In [59]:
w1 = "sunny"
w2 = "dog"

w1 = nlp.vocab[w1]
w2 = nlp.vocab[w2]

In [60]:
w1.similarity(w2)

0.19858689606189728

In [61]:
s1_verbs = " ".join([token.lemma_ for token in s1 if token.pos_ == "VERB"])
s1_nouns = " ".join([token.lemma_ for token in s1 if token.pos_ == "ADJ"])
s1_verbs = " ".join([token.lemma_ for token in s1 if token.pos_ == "NOUN"])

In [62]:
s1.similarity(s3)

0.8354431463464861

In [63]:
data = pd.read_csv('comments.csv')
data['Comment']= data['Comment'].astype(str)

data.head()

   ID    User Name                                            Comment
0   1   ryan.bales  Something isn't right, you only have the optio...
1   2  euanwmcgill  Yes, I am using the free Personal plan. That s...
2   3   ryan.bales  Is this project on YOUR hub or personal licens...
3   4  euanwmcgill  Ah yes I see what you mean now. Yes this is on...
4   5   ryan.bales  And just to be clear, you are inserting File A...

In [64]:
ref_sent = data.loc[data['ID']==2, 'Comment'].iloc[0]

In [65]:
ref_sent_vec =  nlp(ref_sent)
ref_sent_vec

Yes, I am using the free Personal plan. That shouldn't restrict inserting components though should it?

In [66]:
all_docs = [nlp(row) for row in data['Comment'] if row != "nan"] # ther are some missing values, need more work to figure out why the scraper doesn't parse them correctly
sims = []
doc_id = []
for i in range(len(all_docs)):
    sim = all_docs[i].similarity(ref_sent_vec)
    sims.append(sim)
    doc_id.append(i)
    sims_docs = pd.DataFrame(list(zip(doc_id, sims)), columns = ['doc_id', 'sims'])

In [67]:
sims_docs_sorted = sims_docs.sort_values(by = 'sims', ascending = False)
sims_docs_sorted

    doc_id      sims
1        1  1.000000
13      13  0.959713
2        2  0.958015
12      12  0.954798
5        5  0.951253
11      11  0.947419
0        0  0.945330
3        3  0.945079
7        7  0.932560
10      10  0.927436
9        9  0.917591
4        4  0.899404
6        6  0.855661
8        8  0.298758